// stroke colors
$sc: black;
$sc2: white;
// stroke width
$sw: 2px;
$bg-color: #00000080;

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #490000;
    background-image: url("img/bg-new.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-family: 'P5T';
    text-align: center;
    height: 100%;
    h1{
        margin-bottom: 0;
    }
    h2{
        margin-top: 0;
    }
}

.forumpage{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-family: 'P5T';
    text-align: center;
    height: 100%;
    h1{
        margin-bottom: 0;
    }
    h2{
        margin-top: 0;
    }
    #posts-container{
        display: flex;
        flex-direction: column;
        .Post-Template{
            width: 60vw;
            text-align: left;
            border: solid black;
            backdrop-filter: blur(3px);
            background-color: rgba(0, 0, 0, 0.438);
            background-size: cover;
            background-attachment: fixed;
            font-family: "P5T";
            color: white;
            text-shadow: outline($sc, $sw);
            
            text-decoration: none;
            .userinfo{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    width: 60px;
                    height: 55px;
                    margin: 0;
                }
                h2{
                    font-size: 1.75rem;
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                    margin-left: 0.5rem;
                    color: white;
                    text-shadow: outline($sc, 2px);
                }
            }
            .post-title{
                display: flex;
                flex-direction: column;
                img{
                    width: 75px;
                    height: 70px;
                    margin: 0;
                }
                h2{
                    font-size: 2.5rem;
                    margin-left: 0.5rem;
                    margin-bottom: 0;
                }
            }
            
            .line{
                background-color: black;
                width: 100%;
                height: 2px;
                margin: 0;
            }
            p{
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                color: #c4c4c4;
            }
        }
    }
    
}

.log-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'P5T';
    text-align: center;
    height: 100%;
    h1{
        margin-bottom: 0;
    }
    h2{
        margin-top: 0;
    }
}

// Function for generating text-shadow
@function outline($sc, $sw) {
    @return 
      (-$sw) (-$sw) 0 $sc,
       $sw (-$sw) 0 $sc,
      (-$sw)  $sw 0 $sc,
       $sw  $sw 0 $sc,
      (-$sw)  0px 0 $sc,
       $sw  0px 0 $sc,
       0px (-$sw) 0 $sc,
       0px  $sw 0 $sc;
  }
  
.Welcome {
    background: #00000065;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    margin-top: 1.5rem;
    min-width: 90%;
    min-height: 85%;
    h1 {
      font-size: 3rem;
      // Using the function to generate the text-shadow
      text-shadow: outline($sc, $sw);
    }

    h2 {
      font-size: 2rem;
      text-shadow: outline($sc, $sw);
    }
    h3{
        font-size: 1.5rem;
        text-align: left;
        margin: 2rem;
        text-shadow:outline($sc, $sw)
    }
    ul{
        li{
            font-size: 1.5rem;
            text-align: left;
            text-shadow:outline($sc, $sw)

        }
        margin-bottom: 3rem;
    }
    a{
        font-family: "P5MT";
        font-size: 4rem;
        color: white;
        text-decoration: none;
        display: inline-block;
        text-shadow: outline($sc, $sw);
    }
    a:hover{
        transform: scale(1.1);
    }
    .logsign{
        h1{
            margin: 0;
            font-size: 2rem;
        }
        
    }
}

.Welcome2 {
    background: #00000065;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    margin-top: 1.5rem;
    width: 15rem;
    margin-bottom: 2.5rem;
    border: solid black 4px;
    h1 {
      font-size: 3rem;
      // Using the function to generate the text-shadow
      text-shadow: outline($sc, $sw);
    }

    h2 {
      font-size: 2rem;
      text-shadow: outline($sc, $sw);
    }
    h3{
        font-size: 1.5rem;
        text-align: left;
        margin: 2rem;
        text-shadow:outline($sc, $sw)
    }
    ul{
        li{
            font-size: 1.5rem;
            text-align: left;
            text-shadow:outline($sc, $sw)

        }
        margin-bottom: 3rem;
    }
    .postbutton-container{
        position: absolute;
        width: 60vw;
        a{
            text-shadow: outline($sc, 3px);
            display:inline-block ;
            font-family: "P5MT";
            color: white;
            text-decoration: none;
            font-size: 2rem;
            margin-right: 1rem;
        }
        a:hover{
            transform: scale(1.1);
        }
    }
}




#header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: url(img/bg-new-blur.png);
    background-size: cover;
    border: solid #840000 0.2vw;
    #nav-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        a {
            display: inline-block;
            color: white;
            text-shadow: outline($sc, 3.25px);
            font-family: "P5MT-Alt";
            text-decoration: none;
            transition: 0.05s ease; 
            font-size:  3.6rem;
        }
        a:hover {
            transform:scale(1.1); 
        }
        .nav-btn {
            margin: 0 1vw;
        }
        #logoutbutton{
            font-family: "P5MT";
            border: none;
            background: none;
            color: white;
            font-size:  3.6rem;
            text-shadow: outline($sc, 3.25px);
            position: absolute;
            right: 1rem;
            transition: 0.05s ease;
        }
        input:hover{
            transform: scale(1.05);
        }
    }

}

@font-face {
    font-family: "P5T";
    src: url(fonts/P5Text.ttf);
}
@font-face {
    font-family: "P5MT";
    src: url(fonts/P5MenuText.ttf);
}

@font-face {
    font-family: "P5MT-Alt";
    src: url(fonts/P5MenuText-Alt.otf) format('opentype');
}


.input-outer{
    backdrop-filter: blur(3px);
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    border: solid black;
    border-radius: 2rem;
    background-color: #0000004d;
    min-height: 85%;

    #post-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 2rem;
        
        #title{
            width: 99.1%;
            size: 2;
            height: 2rem;
            background-color: #640000;
            color: #ffffff;
            font-family: "P5T";
            font-size: 1.50rem;
            border: solid black;
            border-radius: 1rem;
            margin-bottom: 0;
            padding: 0.5rem;
            resize: none;
            margin-bottom: 1rem;
            overflow: hidden;
        }
        #body{
            width: 99.1%;
            size: 2;
            height: 10rem;
            background-color: #640000;
            color: #c4c4c4;
            font-family: "P5T";
            font-size: 1.25rem;
            border: solid black;
            margin-bottom: 0;
            padding: 0.5rem;
            resize: vertical;
            overflow: hidden;
            border-radius: 1rem;
        }
        textarea:focus{
            outline:none
        }
        .input-inner{
            display: flex;
            flex-direction: row;
            margin: 10px;
            width: 100%;
            align-items: center;
            justify-content: end;
            input{
                font-family: "P5T";
                font-size: 2.5rem;
                color: white;
                text-shadow: outline($sc, 1px);
                background-color: #860000;
                border: solid black;
                width: 10rem;
                height: 3rem;
            }
            input:hover{
                background-color: #ac0000;
            }
            input:active{
                background-color: #860000;
                color: #c9c9c9;
            }
            h1{
                width: 100%;
                text-align: left;
                font-size: 2.25rem;
                text-shadow: outline($sc, $sw);
                
            }
        }
        
    }
}

.Post-Page-Template{
    width: 90%;
    text-align: left;
    border: solid black;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.438);
    text-shadow: outline($sc, $sw);
    p{
        color: #c4c4c4;
        text-shadow: outline($sc, 1px);
        margin-top: 10rem;
    }
    
    .userinfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 55px;
            height: 50px;
            margin: 0;
        }
        h2{
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
            color: white;
            text-shadow: outline($sc, $sw) !important;
        }
    }
    .post-title{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 2.5rem;
            margin-left: 0.5rem;
            margin-bottom: 0;
        }
    }
    
    .line{
        background-color: black;
        width: 100%;
        height: 2px;
        margin: 0;
    }
    p{
        font-size: 1.5rem;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

#comment-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    textarea{
        width: 99.1%;
        size: 2;
        height: 100px;
        background-color: #640000;
        color: #c4c4c4;
        font-family: "P5T";
        font-size: 1.25rem;
        border: solid black;
        
        margin-bottom: 0;
        padding: 0.5rem;
        resize: vertical;
    }
    textarea:focus{
        outline:none
    }
    .input-inner{
        display: flex;
        flex-direction: row;
        margin: 10px;
        width: 100%;
        align-items: center;
        input{
            font-family: "P5T";
            font-size: 1.25rem;
            color: white;
            text-shadow: outline($sc, 1px);
            background-color: #860000;
            border: solid black;
            width: 10rem;
            height: 2.5rem;
        }
        input:hover{
            background-color: #ac0000;
        }
        input:active{
            background-color: #860000;
            color: #c9c9c9;
        }
        label{
            width: 100%;
            text-align: left;
            font-size: 1.25rem;
            
        }
    }
    
}

.Comment-Template{
    display: flex;
    flex-direction: column;
    width: 90%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.438);
    border-left:solid black;
    border-right:solid black;
    border-bottom:solid black;
    text-shadow: outline($sc, $sw);
    .comment{
        // display: flex;
        // flex-direction: column;
        width: 70vw;
        text-align: left;
        p{
            color: #c4c4c4;
            text-shadow: outline($sc, 1px);
        }
        .userinfo{
            display: flex;
            flex-direction: row;
            align-items: center;
            h2{
                font-size: 1.5rem;
                margin-top: 0.5rem;
                margin-left: 0.5rem;
                margin-bottom: 0;
            }
            img{
                width: 55px;
                height: 50px;
                margin: 0;
            }
        }
        p{
            font-size: 1.25rem;
            margin: 0.3rem;
        }
    }
}

.login-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
    margin-bottom: 10rem;
    
    img{
        position: absolute;
        border: solid black 1px;
        // border-radius: 2rem;
        width:100%;
        max-width: 45rem;
        height: 32.5rem;
        z-index: 0;
        filter: blur(3px);
    }
    .login-page{
        width:100%;
        max-width: 45rem;
        height: 32.5rem;
        background: rgb(165, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid black 4px;
        border-radius: 2rem;
        overflow: hidden;
        position: relative;
        // background-image: url("img/StarBG.png");
        background-color: rgba(0, 0, 0, 0.438);
        label{
            display:inline-block;
            font-size: 3rem;
            width: 11rem;
            text-shadow: outline($sc, 3px);
        }
        input{
            font-size: 2rem;
            font-family: "P5T";
        }
        h1{
            margin-top: 0;
            margin-bottom: 1.5rem;
            font-size: 4rem;
            text-shadow: outline($sc, 3px);
        }
        #login{
            margin-top: 2rem;
            background: none;
            border: none;
            font-family: "P5MT";
            color: white;
            font-size: 5rem;
            cursor:pointer;
            text-shadow: outline($sc, 3.25px);
            transition: 0.05s ease; 
        }
        #login:hover{
            transform:scale(1.1);
        }
        .login-inner{
            z-index: 1;
        }
    }
    .error{
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        width: 100%;
        max-width: 45rem;
        height: 32.5rem;
        overflow: hidden;
        border: solid black 4px;
        border-radius: 2rem;
        img{
            position: absolute;
            border: solid black 1px;
            // border-radius: 2rem;
            width:100%;
            max-width: 45rem;
            height: 25rem;
            z-index: 9;
            filter: blur(3px);
            height: 32.5rem;
        }
        h1{
            z-index: 11;
            margin-bottom: 1rem;
            text-shadow: outline($sc, $sw)
        }
        input{
            z-index: 11;
            width: 10rem;
            height: 6rem;
            font-family: "P5MT";
            font-size: 5rem;
            background: none;
            border: none;
            color: white;
            text-shadow: outline($sc, 3.25px);
            transition: 0.05s ease; 
        }
        input:hover{
            transform: scale(1.1);
        }
    }
}

.logout{
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    #pop-inner{
        justify-content: center;
        align-items: center;
        z-index: 10;
        width: 100%;
        max-width: 45rem;
        height: 30rem;
        overflow: hidden;
        border: solid black 4px;
        border-radius: 2rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        img{
            position: absolute;
            border: solid black 1px;
            // border-radius: 2rem;
            width:100%;
            max-width: 45.1rem;
            height: 25.1rem;
            z-index: 9;
            filter: blur(3px);
            height: 30rem;
            border-radius: 2rem;
        }
        h1{
            z-index: 11;
            margin-bottom: 1rem;
            text-shadow: outline($sc, $sw);
            font-size: 3rem;
            color: white;
            font-family: "P5T";
        }
        .logout-confirm{
            z-index: 11;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                width: 11rem;
                height: 6rem;
                font-family: "P5MT";
                font-size: 5rem;
                background: none;
                border: none;
                color: white;
                text-shadow: outline($sc, 3.25px);
                transition: 0.05s ease; 
                margin: 1rem;
            }
            button:hover{
                transform: scale(1.1);
            }
        }
    }
    
    
}

.register-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: visible;
    margin-bottom: 10rem;
    
    
    .register-page{
        width:100%;
        max-width: 45rem;
        height: 32.5rem;
        background: rgb(165, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid black 4px;
        border-radius: 2rem;
        overflow: hidden;
        position: relative;
        // background-image: url("img/StarBG.png");
        background-color: rgba(0, 0, 0, 0.438);
        label{
            display:inline-block;
            font-size: 3rem;
            width: 11rem;
            text-shadow: outline($sc, 3px);
        }
        input{
            font-size: 2rem;
            font-family: "P5T";
        }
        h1{
            margin-top: 0;
            margin-bottom: 1.5rem;
            font-size: 4rem;
            text-shadow: outline($sc, 3px);
        }
        #register{
            margin-top: 2rem;
            background: none;
            border: none;
            font-family: "P5MT";
            color: white;
            font-size: 5rem;
            cursor:pointer;
            text-shadow: outline($sc, 3.25px);
            transition: 0.05s ease; 
            // margin-bottom: 2rem;
        }
        #register:hover{
            transform:scale(1.1);
        }
        .register-inner{
            z-index: 1;
        }
        .genderdiv{
            display: flex;
            flex-direction: row;
            label{
                margin-left: 0.4rem;
            }
        }
        .genderlabel{
            text-align: left;
            width: 5rem
        }
        .gender-choice{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: left;
            margin-top: 0.2rem;
        }
        .choice-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            input{
                margin-bottom: 0.9rem;
                margin-right: 1rem;
            }
        }
        img{
            position: absolute;
            border: solid black 1px;
            // border-radius: 2rem;
            width:100%;
            max-width: 45rem;
            z-index: 0;
            filter: blur(3px);
            height: 32.5rem;
        }
    }
    .error{
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        width: 100%;
        max-width: 45rem;
        height: 30rem;
        overflow: hidden;
        border: solid black 4px;
        border-radius: 2rem;
        img{
            position: absolute;
            border: solid black 1px;
            // border-radius: 2rem;
            width:100%;
            max-width: 45rem;
            height: 25rem;
            z-index: 9;
            filter: blur(3px);
            height: 30rem;
        }
        h1{
            z-index: 11;
            margin-bottom: 1rem;
            text-shadow: outline($sc, $sw)
        }
        input{
            z-index: 11;
            width: 10rem;
            height: 6rem;
            font-family: "P5MT";
            font-size: 5rem;
            background: none;
            border: none;
            color: white;
            text-shadow: outline($sc, 3.25px);
            transition: 0.05s ease; 
        }
        input:hover{
            transform: scale(1.1);
        }
    }
}

#post-template{
    display: none;
}

.reg-log-redirect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p{
        font-size: 1.2rem;
        text-shadow: outline($sc, $sw);
    }
    a{
        font-family: "P5MT";
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-shadow: outline($sc, $sw);
    }
    a:hover{
        transform: scale(1.1);
    }
}

