html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #490000;
  background-image: url("img/bg-new.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #fff;
  font-family: "P5T";
  text-align: center;
  height: 100%;
}
.page h1 {
  margin-bottom: 0;
}
.page h2 {
  margin-top: 0;
}

.log-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "P5T";
  text-align: center;
  height: 100%;
}
.log-page h1 {
  margin-bottom: 0;
}
.log-page h2 {
  margin-top: 0;
}

.Welcome {
  background: rgba(0, 0, 0, 0.3960784314);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1rem;
  margin-top: 1.5rem;
}
.Welcome h1 {
  font-size: 3rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome h2 {
  font-size: 2rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome h3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 2rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome ul {
  margin-bottom: 3rem;
}
.Welcome ul li {
  font-size: 1.5rem;
  text-align: left;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}

.Welcome2 {
  background: rgba(0, 0, 0, 0.3960784314);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1rem;
  margin-top: 1.5rem;
  width: 15rem;
  margin-bottom: 2rem;
  border: solid black 4px;
}
.Welcome2 h1 {
  font-size: 3rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome2 h2 {
  font-size: 2rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome2 h3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 2rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Welcome2 ul {
  margin-bottom: 3rem;
}
.Welcome2 ul li {
  font-size: 1.5rem;
  text-align: left;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: url(img/bg-new-blur.png);
  background-size: cover;
  border: solid #840000 0.2vw;
}
#header a {
  display: inline-block;
  color: white;
  text-shadow: -6.5px 0 black, 0px 0 black, -3.25px 3.25px 0 black, 3.25px 3.25px 0 black, -3.25px 0px 0 black, 3.25px 0px 0 black, -3.25px 0 black, 0px 3.25px 0 black;
  font-family: "P5MT-Alt";
  font-size: 3vw;
  text-decoration: none;
  transition: 0.1s ease;
}
#header a:hover {
  transform: scale(1.1);
}
#header #nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header .nav-btn {
  margin: 0 1vw;
}

@font-face {
  font-family: "P5T";
  src: url(fonts/P5Text.ttf);
}
@font-face {
  font-family: "P5MT";
  src: url(fonts/P5MenuText.ttf);
}
@font-face {
  font-family: "P5MT-Alt";
  src: url(fonts/P5MenuText-Alt.otf) format("opentype");
}
.Post-Template {
  width: 60vw;
  text-align: left;
  border: solid black;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.438);
  background-size: cover;
  background-attachment: fixed;
  font-family: "P5T";
  color: white;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
  text-decoration: none;
}
.Post-Template .post-title {
  display: flex;
  flex-direction: row;
}
.Post-Template .post-title img {
  width: 75px;
  height: 70px;
  margin: 0;
}
.Post-Template .post-title h2 {
  font-size: 2.5rem;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.Post-Template .line {
  background-color: black;
  width: 100%;
  height: 2px;
  margin: 0;
}
.Post-Template p {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #c4c4c4;
}

#post-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#post-input #title {
  width: 99.1%;
  size: 2;
  height: 20px;
  background-color: #640000;
  color: #c4c4c4;
  font-family: "P5T";
  font-size: 1.25rem;
  border: solid black;
  margin-bottom: 0;
  padding: 0.5rem;
  resize: none;
  margin-bottom: 1rem;
  overflow: hidden;
}
#post-input #body {
  width: 99.1%;
  size: 2;
  height: 100px;
  background-color: #640000;
  color: #c4c4c4;
  font-family: "P5T";
  font-size: 1.25rem;
  border: solid black;
  margin-bottom: 0;
  padding: 0.5rem;
  resize: vertical;
  overflow: hidden;
}
#post-input textarea:focus {
  outline: none;
}
#post-input .input-inner {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  align-items: center;
}
#post-input .input-inner input {
  font-family: "P5T";
  font-size: 1.25rem;
  color: white;
  text-shadow: -2px 0 black, 0px 0 black, -1px 1px 0 black, 1px 1px 0 black, -1px 0px 0 black, 1px 0px 0 black, -1px 0 black, 0px 1px 0 black;
  background-color: #860000;
  border: solid black;
  width: 10rem;
  height: 2.5rem;
}
#post-input .input-inner input:hover {
  background-color: #ac0000;
}
#post-input .input-inner input:active {
  background-color: #860000;
  color: #c9c9c9;
}
#post-input .input-inner h1 {
  width: 100%;
  text-align: left;
  font-size: 2.25rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}

.Post-Page-Template {
  width: 90%;
  text-align: left;
  border: solid black;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.438);
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Post-Page-Template p {
  color: #c4c4c4;
  text-shadow: 0px 0 black, 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0 black, 0px 0px 0 black;
}
.Post-Page-Template .userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Post-Page-Template .userinfo img {
  width: 55px;
  height: 50px;
  margin: 0;
}
.Post-Page-Template .userinfo h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: white;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black !important;
}
.Post-Page-Template .post-title {
  display: flex;
  flex-direction: column;
}
.Post-Page-Template .post-title h2 {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.Post-Page-Template .line {
  background-color: black;
  width: 100%;
  height: 2px;
  margin: 0;
}
.Post-Page-Template p {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#comment-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#comment-input textarea {
  width: 99.1%;
  size: 2;
  height: 100px;
  background-color: #640000;
  color: #c4c4c4;
  font-family: "P5T";
  font-size: 1.25rem;
  border: solid black;
  margin-bottom: 0;
  padding: 0.5rem;
  resize: vertical;
}
#comment-input textarea:focus {
  outline: none;
}
#comment-input .input-inner {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  align-items: center;
}
#comment-input .input-inner input {
  font-family: "P5T";
  font-size: 1.25rem;
  color: white;
  text-shadow: -2px 0 black, 0px 0 black, -1px 1px 0 black, 1px 1px 0 black, -1px 0px 0 black, 1px 0px 0 black, -1px 0 black, 0px 1px 0 black;
  background-color: #860000;
  border: solid black;
  width: 10rem;
  height: 2.5rem;
}
#comment-input .input-inner input:hover {
  background-color: #ac0000;
}
#comment-input .input-inner input:active {
  background-color: #860000;
  color: #c9c9c9;
}
#comment-input .input-inner label {
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
}

.Comment-Template {
  display: flex;
  flex-direction: column;
  width: 90%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.438);
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.Comment-Template .comment {
  width: 70vw;
  text-align: left;
}
.Comment-Template .comment p {
  color: #c4c4c4;
  text-shadow: 0px 0 black, 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0px 0 black, 0px 0 black, 0px 0px 0 black;
}
.Comment-Template .comment .userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Comment-Template .comment .userinfo h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.Comment-Template .comment .userinfo img {
  width: 55px;
  height: 50px;
  margin: 0;
}
.Comment-Template .comment p {
  font-size: 1.25rem;
  margin: 0.2rem;
}

.login-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  margin-bottom: 10rem;
}
.login-outer img {
  position: absolute;
  border: solid black 1px;
  width: 100%;
  max-width: 45rem;
  height: 30rem;
  z-index: 0;
  filter: blur(3px);
}
.login-outer .login-page {
  width: 100%;
  max-width: 45rem;
  height: 30rem;
  background: rgb(165, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 4px;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.438);
}
.login-outer .login-page label {
  display: inline-block;
  font-size: 3rem;
  width: 11rem;
  text-shadow: -6px 0 black, 0px 0 black, -3px 3px 0 black, 3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, -3px 0 black, 0px 3px 0 black;
}
.login-outer .login-page input {
  font-size: 2rem;
  font-family: "P5T";
}
.login-outer .login-page h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  text-shadow: -6px 0 black, 0px 0 black, -3px 3px 0 black, 3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, -3px 0 black, 0px 3px 0 black;
}
.login-outer .login-page #login {
  margin-top: 2rem;
  background: none;
  border: none;
  font-family: "P5MT";
  color: white;
  font-size: 5rem;
  cursor: pointer;
  text-shadow: -6.5px 0 black, 0px 0 black, -3.25px 3.25px 0 black, 3.25px 3.25px 0 black, -3.25px 0px 0 black, 3.25px 0px 0 black, -3.25px 0 black, 0px 3.25px 0 black;
}
.login-outer .login-page #login:hover {
  transform: scale(1.1);
}
.login-outer .login-page .login-inner {
  z-index: 1;
}
.login-outer .error {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 45rem;
  height: 30rem;
  overflow: hidden;
  border: solid black 4px;
  border-radius: 2rem;
}
.login-outer .error img {
  position: absolute;
  border: solid black 1px;
  width: 100%;
  max-width: 45rem;
  height: 25rem;
  z-index: 9;
  filter: blur(3px);
  height: 30rem;
}
.login-outer .error h1 {
  z-index: 11;
  margin-bottom: 1rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.login-outer .error input {
  z-index: 11;
  width: 10rem;
  height: 6rem;
  font-family: "P5MT";
  font-size: 5rem;
  background: none;
  border: none;
  color: white;
  text-shadow: -6.5px 0 black, 0px 0 black, -3.25px 3.25px 0 black, 3.25px 3.25px 0 black, -3.25px 0px 0 black, 3.25px 0px 0 black, -3.25px 0 black, 0px 3.25px 0 black;
}
.login-outer .error input:hover {
  transform: scale(1.1);
}

.register-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  margin-bottom: 10rem;
}
.register-outer .register-page {
  width: 100%;
  max-width: 45rem;
  height: 30rem;
  background: rgb(165, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 4px;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.438);
}
.register-outer .register-page label {
  display: inline-block;
  font-size: 3rem;
  width: 11rem;
  text-shadow: -6px 0 black, 0px 0 black, -3px 3px 0 black, 3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, -3px 0 black, 0px 3px 0 black;
}
.register-outer .register-page input {
  font-size: 2rem;
  font-family: "P5T";
}
.register-outer .register-page h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  text-shadow: -6px 0 black, 0px 0 black, -3px 3px 0 black, 3px 3px 0 black, -3px 0px 0 black, 3px 0px 0 black, -3px 0 black, 0px 3px 0 black;
}
.register-outer .register-page #login {
  margin-top: 2rem;
  background: none;
  border: none;
  font-family: "P5MT";
  color: white;
  font-size: 5rem;
  cursor: pointer;
  text-shadow: -6.5px 0 black, 0px 0 black, -3.25px 3.25px 0 black, 3.25px 3.25px 0 black, -3.25px 0px 0 black, 3.25px 0px 0 black, -3.25px 0 black, 0px 3.25px 0 black;
}
.register-outer .register-page #login:hover {
  transform: scale(1.1);
}
.register-outer .register-page .register-inner {
  z-index: 1;
}
.register-outer .register-page .genderdiv {
  display: flex;
  flex-direction: row;
}
.register-outer .register-page .genderdiv label {
  margin-left: 0.4rem;
}
.register-outer .register-page .genderlabel {
  text-align: left;
  width: 5rem;
}
.register-outer .register-page .gender-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left;
  margin-top: 0.2rem;
}
.register-outer .register-page .choice-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register-outer .register-page .choice-container input {
  margin-bottom: 0.9rem;
  margin-right: 1rem;
}
.register-outer .register-page img {
  position: absolute;
  border: solid black 1px;
  width: 100%;
  max-width: 45rem;
  height: 25rem;
  z-index: 0;
  filter: blur(3px);
  height: 30rem;
}
.register-outer .error {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 45rem;
  height: 30rem;
  overflow: hidden;
  border: solid black 4px;
  border-radius: 2rem;
}
.register-outer .error img {
  position: absolute;
  border: solid black 1px;
  width: 100%;
  max-width: 45rem;
  height: 25rem;
  z-index: 9;
  filter: blur(3px);
  height: 30rem;
}
.register-outer .error h1 {
  z-index: 11;
  margin-bottom: 1rem;
  text-shadow: -4px 0 black, 0px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0px 0 black, 2px 0px 0 black, -2px 0 black, 0px 2px 0 black;
}
.register-outer .error input {
  z-index: 11;
  width: 10rem;
  height: 6rem;
  font-family: "P5MT";
  font-size: 5rem;
  background: none;
  border: none;
  color: white;
  text-shadow: -6.5px 0 black, 0px 0 black, -3.25px 3.25px 0 black, 3.25px 3.25px 0 black, -3.25px 0px 0 black, 3.25px 0px 0 black, -3.25px 0 black, 0px 3.25px 0 black;
}
.register-outer .error input:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=index.css.map */